/* CSS file */
.addGroupButton
{
    icon:Embed(source="icons/add.png");
}
.removeGroupButton
{
    icon:Embed(source="icons/delete.png");
}
.flexSpyButton
{
    icon:Embed(source="icons/flexSpy.png");
}