/* CSS file */
.flexSpyButton {
    icon: Embed(source = "icons/flexSpy.png");
}

/*
ConnectorTrace styles
*/
.leaf {
    icon: Embed(source = "icons/bullet_star.png");
}

.node {
    icon: Embed(source = "icons/chart_organisation.png");
}

.objectTree {
    disclosureClosedIcon: Embed(source = "icons/bullet_toggle_plus.png");
    disclosureOpenIcon: Embed(source = "icons/bullet_toggle_minus.png");
    folderClosedIcon: Embed(source = "icons/bullet_toggle_plus.png");
    folderOpenIcon: Embed(source = "icons/bullet_toggle_minus.png");
}

/*
TitleBar styles
*/
.alwaysOnTop {
    upIcon:Embed(source = "icons/bullet_arrow_down.png");
    downIcon:Embed(source = "icons/bullet_arrow_down.png");
    overIcon:Embed(source = "icons/bullet_arrow_down.png");
    selectedOverIcon:Embed(source = "icons/bullet_arrow_up.png");
    selectedDownIcon:Embed(source = "icons/bullet_arrow_up.png");
    selectedUpIcon:Embed(source = "icons/bullet_arrow_up.png");
}