/* CSS file */
.addGroupButton
{
    icon:Embed(source="icons/add.png");
}
.removeGroupButton
{
    icon:Embed(source="icons/delete.png");
}

.launchButton
{
    icon:Embed(source="icons/play.png");
}

.stopButton
{
    icon:Embed(source="icons/stop.png");
}
.flexSpyButton
{
    icon:Embed(source="icons/flexSpy.png");
}